doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/nav.css")
        title #{pageTitle}
        block styles
    body 
        header 
            .navbar 
                a.nav-item(href="/") Home
                a.nav-item(href="/users") Users
        h1 #{pageHeading}
        main
            block content